h2 {
    font-size: 22px;
    width: 100%;
    text-align: center;
    background-color: #edededef;
    color: #3b5277;
    margin: 0px 0px 50px 0px;
    padding: 10px 0px;
}

p {
    text-align: center;
    width: 75%;
    padding: 50px;
    background-color: #a73535ef;
    color: #edededef;
}

button {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
    padding: 15px 40px;
    background-color: #3b5277;
    color: #edededef;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

button:hover {
    background-color: #edededef;
    color: #3b5277;
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: inherit;
}
